ul {
    list-style: none;
    padding-left: 0;
}

.card {
    min-height: 12vh;
}

.warranty-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
  }

.btn {
    min-width: 10vw;
    max-width: 10vw;
    border-radius: 10px;
}

.btn-update {
    background-color: rgb(255, 171, 61);
}

.btn-delete {
    background-color: rgb(255, 77, 77);
}

.back-arrow {
    max-width: 5vw;
}