@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.text-thin {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 120;
    font-style: normal;
  }

.text-normal {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.text-bold {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}